<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYLHj4T3yphfiJTyICYSP3v1UtbRYgG1A</string>
	<key>GCM_SENDER_ID</key>
	<string>480883849994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codemotion.pupupApp</string>
	<key>PROJECT_ID</key>
	<string>pupup-ca7bf</string>
	<key>STORAGE_BUCKET</key>
	<string>pupup-ca7bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480883849994:ios:7bc54ce368f444f8d818f3</string>
</dict>
</plist>